<div class="container mt-5">
  <div class="row  justify-content-center">
    <div class="col-2 align-items-center">
      <img width="100" class="rounded-circle m-5"
            src="https://cf.workana.com/logos/24/256990013b11e8a9bfa9f73e820583/profileImage.png" alt="me">
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <h1 class="mt-3">Andres Díaz</h1>
          <small class="text-center">Hola soy Desarrollador de aplicaciones
            Angular/SPA/Hibridas/Ionic/Wordpress/AWS/Python.💼 Con mas de 5 años de experiencia en el campo.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="card">
      <div class="card-body p-5">
        <p>¿Necesitas una página web? No dudes en contactarme, puedo ayudarte a conseguir lo que deseas. Pongo un
          listado de las habilidades que tengo y experiencias en proyectos.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Creacion de paginas web estaticas</li>
          <li class="list-group-item">Creacion de aplicativos web complejos</li>
          <li class="list-group-item">Creacion de aplicativos SPA con Angular 11</li>
          <li class="list-group-item">Creacion de API REST con Flask Python o con PHP core </li>
          <li class="list-group-item">Automatización de proceso en sistemas Linux y Windows. </li>
          <li class="list-group-item">AWS Lambda AWS API GATEWAY </li>
          <li class="list-group-item">Uso de GIT </li>
          <li class="list-group-item">SQL </li>
          <li class="list-group-item">MongoDB </li>
          <li class="list-group-item">App hibridas con Ionic/Capacitor</li>
          <li class="list-group-item">Push notifications Web/Android/IOS</li>
          <li class="list-group-item">Publicación de aplicaciones en Play Store y App Store </li>
          <li class="list-group-item">Gestión de Ordenes de trabajo a traves de portal web realizado . Logrando ahorrar sus tiempos de respuesta a los clientes. </li>
          <li class="list-group-item">App movil disponible en Android y IOS para gestión de servicios de Telecomunicaciones. </li>
          <li class="list-group-item">Migraciones de base de Datos</li>
          <li class="list-group-item">Gestión de ficheros en servidor web </li>
          <li class="list-group-item">Debian, Ubuntu, Xubuntu</li>
        </ul>
        
      </div>
    </div>
  </div>
</div>